<template>
  <div>
    <h1>我是3号种子选手</h1>
    <button @click="btnClick()">有请四号种子选手</button>
  </div>
</template>

<script>
export default {
  methods: {
    btnClick() {
      this.$router.push("/wzh");
    },
  },
};
</script>

<style>
</style>