<template>
  <div>
    <h1>123</h1>
    <button @click="GT()">跳转Hx</button>
  </div>
</template>

<script>
export default {
  methods: {
    GT() {
      this.$router.push("/hx");
    },
  },
};
</script>

<style>
</style>