<template>
  <div>
    <button @click="go()">1韩鑫跳转到马英浩</button>
  </div>
</template>

<script>
export default {
  methods: {
    go() {
      this.$router.push("/myh");
    },
  },
};
</script>

<style>
</style>