<template>
  <div>
      <h1>元元</h1>
      <button @click="tiao">点击</button>
  </div>
</template>

<script>
export default{
    methods:{
        tiao(){
            this.$router.push('/ly')
        }
    }
}
</script>

<style>

</style>